<img src="https://thesportsrush.com/wp-content/uploads/2017/11/csk-facebook-page.jpg" >

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>